header {
  display: flex;
  background-color: black;
  color: white;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

.app_error{
  align-items: center;
  justify-content: center;
  margin: 60px;
  font-size: 25px;
}
