header {
  display: flex;
  background-color: black;
  color: white;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

.app_error{
  align-items: center;
  justify-content: center;
  margin: 60px;
  font-size: 25px;
}

@media(min-device-width: 750px){
  header {
    display: flex;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    height: 20vh;
  }
  
  .app_error{
    align-items: center;
    justify-content: center;
    margin: 60px;
    font-size: 25px;
  }
}
